/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* -------------End of style reset ------------------ */


body {
	font-family: sans-serif;
	margin: 0 auto;
}
#map {
	height: 100vh;
	position: relative;
	z-index: 0;
}
h1 {
	font-size: 200%;
}
li {
	list-style: none;
}
#header {
	position: absolute;
	z-index: 1;
	right: 0;
	top: 10px;
	padding: 10px;
	text-align: right;
	line-height: 1.25;
	background-color: rgba(64, 64, 64, 0.5);
	color: rgb(255, 255, 255);
}
#info-box {
	position: absolute;
	right: 0;
	bottom: 15px;
	z-index: 1;
	background-color: rgba(64, 64, 64, 0.5);
	color: rgb(255, 255, 255);
	padding: 15px;
	line-height: 1.25;
	width: 275px;
}
#menu {
}
#menu li:hover {
	background-color: #000;
}
#filter {
	display: inline-block;
}
#search {
	margin-bottom: 10px;
}
#show {
	background-color: transparent;
	background-image: url(pix/refresh.png);
	border: none;
    padding: 3px;
	margin-top: 5px;
	height: 22px;
	width: 25px;
	display: inline-block;
}
#submit {
	background-color: transparent;
	background-image: url(pix/checkmark.png);
	border: none;
    padding: 3px;
	margin-top: 5px;
	height: 22px;
	width: 25px;
}
#no-matches {
	font-size: 70%;
	position: absolute;
	bottom: 4px;
	right: 192px;
	color: rgb(255, 204, 0);
}
.infowindow {
	text-align: center;
	margin: 0 auto;
	padding: 5px;
}
#credits {
	font-size: 80%;
}

@media (max-height:499px) {
	#menu {
		font-size: 85%;
	}
}
@media (min-height:700px) {
	#menu {
		font-size: 110%;
	}
}
/* Makes sure the menu gets turned back on */
@media (min-width: 500px) {
	#info-box {
		display: block !important;
	} 
	.hamburger-button {
		display: none;
	}
}
@media (max-width:499px) {
	#header h1{
		font-size: 150%;
	}
	#info-box {
		/* display: none; */
		padding-right: 40px;
	}
	.hamburger-button {
	  position: fixed;		
	  right: 5px;
	  bottom: 35px;
	  z-index: 2;
	  display: block;
	  padding: 7px 7px;
	  background-color: rgb(64, 64, 64);
	  border: 1px solid rgb(255, 255, 255);
	  border-radius: 5px;
	}
	.hamburger-button:focus {
		outline: 0; 
	}
	.hamburger-button .horiz-bar {
	  display: block;
	  width: 22px;
	  height: 3px;
	  border-radius: 1px;
	  background-color: rgb(255, 255, 255);
	}
	/* Keeps the top bar from having a margin */
	.horiz-bar + .horiz-bar {
		margin-top: 6px;
	}
	#no-matches {
		right: 215px;
	}
}
@media (max-width:399px) {
	#header h1{
		font-size: 130%;
	}